body {
  background: white;
}
::placeholder {
  color: rgb(107, 107, 107);
}
.hidden {
  display: none;
}
/* typography */
h1,
h2,
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(107, 107, 107);
}
h1 {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  font-size: 1.5em;
}
/* Hero */
.hero-background {
  position: relative;
  margin-top: 20px;
}
.hero-background img {
  width: 100%;
  height: 620px;
  object-fit: cover;
}
.tear {
}
.tear img {
  display: flex;
  position: absolute;
  top: 505px;
  right: 0px;
  height: 150px;
  width: 50%;
}
.discover {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 200px;
  left: 150px;
  width: 400px;
  height: 250px;
  background: white;
  border-radius: 6px;
}
.discover h1 {
  font-size: 2em;
  line-height: 1.5em;
  color: black;
  font-weight: normal;
  display: flex;
  margin-bottom: 40px;
}
/* Header */

.container-publish {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.load-photo {
  display: flex;
  height: 200px;
  background: white;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  align-content: flex-end;
  justify-content: center;
}
.marching-ants {
  width: 100%;
  display: flex;
  border: 1px dashed #dfdfdf;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
/* hide default input and replace
with custom style */
input[type="file"] {
  display: none;
}

.custom-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #10adb7;
  background: white;
  height: 50px;
  width: 200px;
  border-radius: 3px;
  border: 1px solid #10adb7;
  line-height: 20px;
  cursor: pointer;
}
.custom-upload span {
  font-size: 1.3em;
  font-weight: bold;
}
/* Article Info */
#preview {
  position: absolute;
  top: auto;
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
}
.box {
  display: flex;
  flex-wrap: wrap;
  background: white;
  padding: 20px;
  border-bottom: 1px solid #dfdfdf;
  justify-content: space-between;
}
.box input {
  border: none;
  border-bottom: 1px solid #dfdfdf;
  height: 40px;
  width: 500px;
}
.box #text-area {
  height: 200px;
  border-bottom: 1px solid #dfdfdf;
}
.article-name input {
  color: red;
}
.details {
  display: flex;
  height: 200px;
  background: white;
  padding: 20px;
  margin-top: 20px;
}
#price {
  margin-top: 20px;
}
#brand {
  margin-top: 20px;
}

.submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  font-size: 1.5em;
}
.submit button {
  width: 100px;
  padding: 0 6px;
  font-size: 0.75em;
  color: white;
  background: #10adb7;
  height: 30px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
